.cart-wrapper {
    padding-top: 130px;
    @include mq("phone"){
    padding-top: 90px
    }
    .cart-header {
        @include flexbox();
        @include align-items(center);
        @include justify-content(space-between);
        padding: 60px 10px;
        .cnt-shoping {
            a {
                color: #6d5715;
                text-decoration: none;
                font-size: 20px;
            }
        }
        .empty-cart {
            a {
                color: $color-black;
                font-size: 20px;
            }
        }
    }
    //cart item
    .cart-items-wrapper {
        .cart-item {
            @include flexbox();
            @include align-items(flex-start);
            @include justify-content(space-between);
            margin-bottom: 10px;
            padding: 0;
            border: 1px solid #ccc;
            .cart-tem-image {
                @include flexbox();
                @include align-items(flex-start);
                gap: 20px;
                grid-gap: 20px;
                @include mq("phone") {
                    gap: 10px;
                    grid-gap: 10px;
                }
                .cart-title {
                    padding: 20px 0;
                    @include mq("phone") {
                        padding: 15px 0;
                    }
                    h3 {
                        font-size: 22px;
                        margin-bottom: 3px;
                        @include mq("phone") {
                            font-size: 16px;
                        }
                    }
                }
                .cart__image {
                    max-width: 120px;
                    width: 100%;
                    height: 100%;
                    @include mq("phone") {
                        height: 153px;
                    }
                    img {
                        @include mq("phone") {
                            height: 100%;
                        }
                    }
                }
            }
            .cart-item-details {
                padding: 20px 0;
                @include mq("phone") {
                    padding: 15px 0;
                }
                p {
                    margin-bottom: 5px;
                    font-size: 12px;
                    text-transform: uppercase;
                    @include mq("phone") {
                        font-size: 10px;
                    }
                }
            }
            .cart-action-button {
                @include flexbox();
                @include align-items(center);
                @include justify-content(center);
                @include flex-wrap(wrap);
                padding: 20px 20px 0 0;
                gap: 10px;
                grid-gap: 10px;
                @include mq("phone") {
                    padding: 15px 15px 0 0;
                }
                .cart-plus {
                    cursor: pointer;
                }
                .cart-minus {
                    cursor: pointer;
                }
                .cart-remove {
                    cursor: pointer;
                }
            }
        }
    }
}
