.collection-banner {
    .collection-image {
        position: relative;
        .img {
            img {
                width: 100%;
                height: 100vh;
            }
        }
        .text-wrapper {
            position: absolute;
            &.center {
                left: 50%;
                top: 50%;
                @include transform(translate(-50%, -50%));
            }
            &.bottom {
                left: 50%;
                bottom: 50px;
                @include transform(translateX(-50%));
            }
            &.top {
                left: 50%;
                top: 50px;
                @include transform(translateX(-50%));
            }
            .title {
                font-size: 30px;
                font-weight: 700;
                text-transform: uppercase;
                @include mq("phone") {
                    font-size: 20px;
                }
            }
        }
    }
}

// collection template

.collection-template {
    .collection-list-wrapper {
        padding: 20px;
        @include flexbox();
        @include align-items("center");
        gap: 40px;
        grid-gap: 40px;
        @include justify-content(center);
        @include flex-wrap(wrap);
        @include mq("phone") {
            gap: 20px;
            grid-gap: 20px;
        }
        a {
            color: $collection-handel;
            font-size: 14px;
            text-align: center;
            text-transform: uppercase;
            @include mq("phone") {
                font-size: 13px;
            }
        }
    }
    .collection-list {
        padding: 30px 0;
        .scroll-ul {
            .li {
            
                .collection-image-warpper {
                    position: relative;
                    padding: 10% 10% 4.5%;
                    background: none;
                    .product-img-frame {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 75%;
                        width: 100%;
                        background: #888;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .image {
                        position: relative;
                        padding-top: 133%;
                        width: auto;
                        a {
                            .img {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                width: 107%;
                                height: 107%;
                                border: 0.25em solid #000;
                                -webkit-transform: translate(-50%, -50%);
                                transform: translate(-50%, -50%);
                                img {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    padding: 10px;
                                }
                            }
                        }
                    }
                }

                .collection-dec {
                    padding: 15px 0 20px 20px;
                    @include mq("phone"){
                        padding: 0 10px;
                    }
                    .title {
                        margin-bottom: 5px;
                        font-size: 14px;
                        font-family: "Yeseva One", serif;
                        font-weight: 900;
                        text-transform: uppercase;
                        letter-spacing: 0.1em;
                        @include mq("phone") {
                            font-size: 12px;
                        }
                    }
                    .productDec {
                        color: #333;
                        font-size: 10px;
                        text-transform: uppercase;
                        letter-spacing: 0.2em;
                        margin-bottom: 0px;
                    }
                    .price {
                        margin-top: 10px;
                        font-weight: 700;
                        font-size: 13px;
                    }
                }
            }
        }
    }
}
