#shopify-section-header.sticky {
  position: sticky;
  top: 0;
  z-index: 100;
}
.mobile-back-drop {
  position: absolute;
  z-index: 999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5));
  opacity: 0.7;
  transition-duration: 0.5s;
  display: none;
  @include mq("phone") {
    &.active {
      display: block;
    }
  }
}
header.main-header {
  position: relative;
  top: 30px;
  @include mq("phone") {
    position: initial;
    top: 0;
    height: 0;
  }
  &.fixed {
    position: fixed;
    top: -100%;
    left: 0;
    z-index: 90;
    width: 100%;
    margin: 0;
    @include transition(all 400ms ease-in-out);
    &.active {
      top: 0;
    }
  }
  a {
    transition: 0.3s all;
  }
  .large-header {
    @include mq("phone") {
      display: none;
    }
    .side {
      align-self: center;
    }
    /*================ Logo side ================*/
    .logo-side {
      position: absolute;
      z-index: 1001;
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
    .site-logo {
      a {
        display: block;
      }
      h6 {
        text-transform: uppercase;
      }
    }
    /*================ Menu side ================*/
    .menu-side {
      position: absolute;
      z-index: 1002;
      top: 0;
      left: 0;
      width: 100%;
    }
    /*================ Icon side ================*/
    .icon-side {
      width: 20%;
      .icon-li {
        display: inline-block;
        vertical-align: top;
        margin-left: 10px;
      }
      .search-button {
        text-align: center;
        a {
          display: block;
          padding-top: 5px;
        }
      }
      .accounts {
        > a {
          line-height: 1;
          padding: 8px 0;
          display: block;
          text-align: center;
          i {
            font-size: 30px;
          }
        }
      }
    }
  }

  .small-header {
    position: relative;
    display: none;
    &.fixed {
      position: fixed;
      width: 100%;
      position: fixed;
      z-index: 99999;
      width: 100%;
      height: 90px;
      background: #fafafa;
      transition: 0.5s;
      top: 0;
      padding-top: 20px; 
       }
    @include mq("phone") {
      display: block;
      padding: 20px 0;
      z-index: 999;

    }
    .mobile-right {
      a {
        min-width: 30px;
        &.side-cart {
          position: fixed;
          z-index: 1000;
          top: 20px;
          right: 15px;
          width: 40px;
          height: 40px;
          background: #000;
          border-radius: 50%;
          color: #fff;
          text-align: center;
          line-height: 40px;
          span {
            color: #fff;
            text-align: center;
            line-height: 40px;
            font-size: 20px;
          }
        }
      }
    }
    .mobile-menu-btn {
      min-width: 35px;
      display: inline-block;
      padding: 10px 0;
      svg {
        width: 30px;
        height: 24px;
        &.header-white {
          fill: #fff;
        }
      }
    }
  }
}
/*================ Cart ================*/
.cart {
  position: relative;
  .count {
    position: absolute;
    padding: 0;
    line-height: 1;
    font-size: 10px;
    @include transform(translate(50%, -50%));
    top: -2px;
    right: -2px;
    min-width: 18px;
    text-align: center;
    height: 18px;
    line-height: 18px;
    border-radius: 5px;
  }
}
#initial-mobile-menu {
  display: none;
}
.mobile_nav {
  @include mq("phone") {
    display: table;
    width: 100%;
  }
  .site-logo {
    @include mq("phone") {
      display: table-cell;
      vertical-align: middle;
      width: 30%;
      padding-right: 0 !important;
    }
  }
  .mobile-menu-btn {
    display: inline-block;
    a {
      line-height: 30px;
      font-size: 26px;
    }
    @include mq("tablet") {
      display: block !important;
    }
    @include mq("phone") {
      display: table-cell !important;
      vertical-align: middle;
      width: 35%;
    }
    @include mq("lap-and-up") {
      display: none;
    }
  }
  .mobile-search-icon {
    @include mq("phone") {
      display: table-cell;
      vertical-align: middle;
      width: 35%;
      text-align: right;
    }
    font-size: 20px;
    a {
      display: inline-block;
      vertical-align: top;
      padding-left: 10px;
      font-size: 18px;
    }
  }
}
//test
