#mobile-drawer {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 400px;
    left: 0;
    @include transform(translateX(-100%));
    overflow: auto;
    z-index: 110;
    background: $accent_color;
    @include transition(0.35s cubic-bezier(0.46, 0.01, 0.32, 1));
    @include mq("phone") {
      width: 80%;
      left: 0;
      z-index: 999999;
    }
    &.active {
      @include transform(translateX(0%));
    }
    ul.nav {
      li {
        display: block;
        text-align: left;
        cursor: pointer;
        position: relative;
        .link {
          text-decoration: none;
          display: block;
          &:after {
            clear: both;
            display: table;
            content: "";
          }
          > a {
            display: block;
            padding:10px 0 0px 20px;
            color: #fff;
            opacity: .7;
            font-size: 14px;
          }
        }
        .child-menu,
        .link-data {
          .link {
            padding-left: 15px;
          }
          &.third-menu {
            li {
              .link a {
                padding-left: 30px;
              }
            }
          }
          ul {
            li {
              .link {
                a {
                  padding-left: 15px;
                  font-size: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
  