<div id="login_page">
  <div class="container">
    <div class="row">
      <div class=" col-sm-6  col-md-4 col-md-offset-4">
        <div id="CustomerLoginForm" class="form-vertical">
          {% form 'customer_login' %}

          <h1 class="text-center">{{ 'customer.login.title' | t }}</h1>
          <div class="note form-success hide" id="ResetSuccess">
            {{ 'customer.recover_password.success' | t }}
          </div>
          {{ form.errors | default_errors }}
          <div class="field icon">
            <input required type="email" placeholder="Email" name="customer[email]" id="CustomerEmail" class="{% if form.errors contains 'email' %} input--error{% endif %}" autocorrect="off" autocapitalize="off" autofocus>
          </div>
          {% if form.password_needed %}
          <div class="field icon">
            <input required type="password" value=""  placeholder="Password" name="customer[password]" id="CustomerPassword" class="{% if form.errors contains 'password' %} input--error{% endif %}">
          </div>
          {% endif %}
          <div class="submit-button">
            <input type="submit" class="btn" value="Login">
          </div>
          <div class="create-account">
            <p class="text">
              New to Mulias? 
            </p>
            <span>
              {{ 'layout.customer.create_account' | t | customer_register_link }}
            </span>
          </div>
          <div class="recover-password">
            {% if form.password_needed %}
            <p> Forgot your password? </p>
               <a href="#recover" id="RecoverPassword">Reset password</a>
            {% endif %}
          </div>
          {% endform %}
        </div>
      </div>
    </div>
  </div>
</div>