<div id="register_page">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-xs-12">
        <div class="form-vertical">
          {% form 'create_customer' %}
          <h1 class="text-center">CREATE A NEW ACCOUNT</h1>
          {{ form.errors | default_errors }}
          <div class="field icon">
            <input required type="email" placeholder="Email" name="customer[email]" id="Email" class="{% if form.errors contains 'email' %} input--error{% endif %}" {% if form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off">
            </div>
            <div class="field icon">
            <input type="password" name="customer[password]" placeholder="Password" id="CreatePassword" class="{% if form.errors contains 'password' %} input--error{% endif %}">
            </div>
          <div class="field icon">
          <input required type="text" name="customer[first_name]" placeholder="First" id="FirstName" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autofocus>
          </div>
          <div class="field icon">
          <input type="text" name="customer[last_name]" id="LastName" placeholder="Last" {% if form.last_name %}value="{{ form.last_name }}"{% endif %}>
          </div>

          <div class="submit-button">
            <input  type="submit" value="Register" class="btn">
          </div>
          <div class="create-account">
            <p class="text">
              Already a member?
            </p>
            <span>
              <a href="/account/login" id="RecoverPassword">Login here</a>
            </span>
          </div>
          <div class="recover-password">
            <p> Forgot your password? </p>
               <a href="#recover" id="RecoverPassword">Reset password</a>
          </div>
          {% endform %}
        </div>
      </div>
    </div>
  </div>
</div>