{%- comment -%}
collection banner image
{%- endcomment -%}
{%- assign collection_text = section.settings.collection_title -%}
{%- assign color = section.settings.collection_color -%}
<div class="collection-banner">
    <div class="{%- unless section.settings.full -%} container {%- endunless -%}">
        <div class="collection-image">
            <div class="img xs-hide">
                {%- render 'srcset', src_name:section.settings.image,src_alt:section.settings.image.alt | escape -%}
                {% if collection_text != blank %}
                <div class="text-wrapper">
                    <h3 class="title" style="color:{{color}};">{{collection_text}}</h3>
                  </div>
                {% endif %}
            </div>
            <div class="mobile-img xs-show">
                {%- render 'srcset' src_name:section.settings.image_mob , src_alt:section.settings.image.alt | escape -%}
                {% if collection_text != blank %}
                <div class="text-wrapper ">
                    <h3 class="title" style="color:{{color}};">{{collection_text}}</h3>
                  </div>
                {% endif %}
            </div>
           
           
        </div>
    </div>
</div>
{% schema %}

{
  "name": "Collection banner",
  "class": "no_padding",
  "settings": [
    {
      "type": "checkbox",
      "id": "full",
      "label": "Full-width",
      "default": true
    }, {
      "type": "image_picker",
      "label": "Common collection banner",
      "id": "image"
    }, {
      "type": "image_picker",
      "label": "Common collection banner mobile",
      "id": "image_mob"
    },
   {
       "type": "text",
       "id": "collection_title",
       "label": "Title"
   },
  {
      "type": "color",
      "id": "collection_color",
      "label": "Text color"
  }
  ]
}

{% endschema %}