<div id="product-page">
    <div class="product-template">
        <div class="container">
            <div class="flex-view ">
                {%- comment -%}Product Images{%- endcomment -%}
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="image-block">
                        <!-- {% render 'product-image-block' %} -->
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="product-details-wrapper">
                        {% render 'product-details' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>