<div class="payment-options">
    <h6 class="title">We accept the following forms of payment</h6>
    <div class="payment-options-wrapper">
      <div class="option">
          <img src="https://cdn.shopify.com/s/files/1/0618/2535/1909/files/download_3574b3e9-9b4e-450c-8922-e908cb000777.png?v=1641923184" alt="we accept this payment"/>
      </div>
      <div class="option">
        <img src="https://cdn.shopify.com/s/files/1/0618/2535/1909/files/download_1.png?v=1641923189" alt="we accept this payment"/>
    </div>
    <div class="option">
        <img src="https://cdn.shopify.com/s/files/1/0618/2535/1909/files/download_2.png?v=1641923202" alt="we accept this payment"/>
    </div>
    </div>
</div>