<div class="ProductImages">
 
  <div class="container-fluid">
    <div class="flex-view ">
      <div class="col-md-1 col-sm-1 col-xs-12" >
        <div class="thumb-block">
          {%- if product.images.size > 1 -%}
            <div class="thumb">
              {% for image in product.images %}
                <div class="single-thumb">
                  {%- render 'srcset',src_name:image.src,src_alt:image.alt,src_class:'product-image' -%}
                </div>
              {% endfor %}
            </div>
          {%- endif -%}
        </div>
        </div>
    <div class="co-md-11 col-sm-11 col-xs-12">
      <ul class="list">
        {% for image in product.images %}
          <li class="id_{{image.id}} single-image" data-index="{{forloop.index}}">
            <div class="img">
              {%- render 'srcset',src_name:image.src,src_alt:image.alt,src_class:'product-image' -%}
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
      </div>
      </div>
  </div>